[submodule "third_party/pybind11"]
	path = off-belief-small/third_party/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.3
[submodule "rule-list-learning/BioHEL-demo"]
	path = rule-list-learning/BioHEL-demo
	url = https://github.com/jaumebp/BioHEL-demo
